@model IList<JobFinder.Web.Models.Job.GetJobViewModel>

@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            @* <img src="https://www.lucru.md/_next/image?url=https%3A%2F%2Ffiles.rabota.md%2Fimages%2Fuploads%2F2024_07_25_16_27_36_branded_page_vac_logo.png&w=2048&q=75" /> *@
            @*             <div class="d-flex align-items-center justify-content-start">
            <div class="p-5">
            <img src="https://icons.veryicon.com/png/o/miscellaneous/zr_icon/company-23.png" height="150" />
            </div>
            <div class="col">
            <h3>@Html.DisplayFor(model => model.Name)</h3>
            <h5> 0 disponible Jobs</h5>
            </div>
            </div> *@
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="p-5">
                        <img src="https://icons.veryicon.com/png/o/miscellaneous/zr_icon/company-23.png" height="150" />
                    </div>
                    <div class="col">
                        <h3>@Html.DisplayFor(model => model.FirstOrDefault().CompanyName)</h3>
                        <h6><a asp-controller="Job" asp-action="CompanyJobs" asp-route-id="model.FirstOrDefault().CompanyId" class="link-danger">@Model.Count disponible jobs </a></h6>
                        <a asp-controller="Job" asp-action="AddJob" asp-route-id="model.FirstOrDefault().CompanyId" class="link-primary">Add a Job </a>
                    </div>
                </div>

                <!-- Edit Icon at the end of the row -->
                <div>
                    <form asp-action="Edit" asp-controller="Company" asp-route-id="model.FirstOrDefault().CompanyId" method="get">
                        <button type="submit" class="genric-btn danger radius" title="Edit Company">
                            @* <i class="fas fa-edit fa-lg text-primary"></i> <!-- FontAwesome edit icon --> *@
                            Edit
                        </button>
                    </form>
                </div>
            </div>
            @if (Model.Any())
            {
                <p class="text-center">Disponible Jobs</p>
                foreach (var job in Model)
                {
                    <div class="single-job-items mb-30 align-items-center justify-content-around" style="border: 1px solid black;">
@*                         <div class="company-img">
                            <a href="#"><img src="https://www.clipartmax.com/png/middle/145-1452527_job-yaz-ltd-job-offer-icon-png.png" alt="" height="85" width="85"></a>
                        </div> *@
                        <div class="job-items">
                            <div class="job-tittle job-tittle2">
                                <a href="#" class="">
                                    <h4><a asp-controller="Job" asp-action="JobDetails" asp-route-id="@job.Id" onmouseover="this.style.color='black';">@job.Title</a></h4>
                                </a>
                                <ul>
                                    <li>@job.CompanyName</li>
                                    <li><i class="fas fa-map-marker-alt"></i>@job.City</li>
                                    <li>@job.Salary$</li>
                                </ul>
                            </div>
                        </div>
                        <div class="items-link items-link2 f-right">
                            <a href="job_details.html">@job.WorkingType</a>
                            <span>7 hours ago</span>
                        </div>
@*                         <form asp-action="Edit" asp-controller="Job" asp-route-id="@job.Id" method="get">
                            <button type="submit" class="genric-btn danger radius" title="Edit Company">
                                <i class="fas fa-edit fa-lg text-primary"></i> <!-- FontAwesome edit icon -->
                                Edit
                            </button>
                        </form> *@
                    </div>
                }
            }
            else
            {
                <p class="text-center">There are not dispnible jobs</p>
            }
        </div>
    </main>
</div>